
button {
  font-family: $basefont;
  text-transform: uppercase;
  width: 100%;
  padding: 7px 0;
  border: 4px transparent;
}
.contact,
.blog {
  button:hover,
  button:focus {
    color: rgb(37, 145, 218);
  }
}

input[type="text"],
input[type="email"] {
  width: calc(50% - 10px);
  padding: 15px;
  border: none;
  border-bottom: 2px solid $primary;
}

input[type="email"] {
  margin-left: 12px; 
}

textarea {
  margin: 30px 0;
  width: 100%;
  padding: 15px;
  border: 2px solid $primary;
  resize: none;
}

input,
textarea,
input::placeholder,
textarea::placeholder {
  font-size: 1rem;
}

// blog form 

.blog {
  form{
    margin-left: 50px;
    padding: 40px;
  }
  input,
  textarea {
    background-color: $tertiary;
  }
  button {
    background-color: $secondary;
    color: $primary;
  }
}

// contact form
.contact {
  .wrapper {
    position: relative;
  }
  form {
    background-color: $secondary;
    width: 70%;
    box-shadow: 15px 15px $primary;
    position: absolute;
    right: 0;
    bottom: 3%;
    padding: 50px;
  }
  input,
  textarea {
    background-color: $secondary;
    color: #fff;
  }
  button {
    background-color: $primary;
    color: $secondary;
  }
}