@media (max-width: 1000px) {
  .contact-info .wrapper {
    flex-direction: column;
  }
  .social-nav {
    ul {
    justify-content: center;
    }
    li {
      padding: 15px 25px;
    }
  }
  .contact aside {
    width: 100%;
    text-align: center;
  }
  .contact form {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 700px) {
  
  input[type="text"],
  input[type="email"] {
    width: 100%;

  }

  input[type="email"] {
    margin: 15px 0 0 0; 
  }
}

  
@media (max-width: 500px) {

  .blog,
  .index,
  .contact {
    header i {
      visibility: visible;
    }
  }
  .contact main {
    padding: 50px 0;
  }  
  .header-nav {
      visibility: hidden;
    }
    .contact form {
      padding: 30px;
    }
  }